language: generic
sudo: false
matrix:
  include:
    - env: RUNTIME=2.7 TOOLKIT=null
    - env: RUNTIME=2.7 TOOLKIT=pyqt
    - env: RUNTIME=2.7 TOOLKIT=pyside
    - env: RUNTIME=2.7 TOOLKIT=wx
    - env: RUNTIME=3.5 TOOLKIT=null
    - env: RUNTIME=3.5 TOOLKIT=pyqt
    - os: osx
      env: RUNTIME=2.7 TOOLKIT=null
    - os: osx
      env: RUNTIME=2.7 TOOLKIT=pyqt
    - os: osx
      env: RUNTIME=2.7 TOOLKIT=pyside
    - os: osx
      env: RUNTIME=2.7 TOOLKIT=wx
    - os: osx
      env: RUNTIME=3.5 TOOLKIT=null
    - os: osx
      env: RUNTIME=3.5 TOOLKIT=pyqt
  allow_failures:
    - env: RUNTIME=2.7 TOOLKIT=wx
    - os: osx
      env: RUNTIME=2.7 TOOLKIT=pyqt
  fast_finish: true
cache:
  directories:
    - $HOME/.cache
before_install:
  - export DISPLAY=:99.0
  - if [[ ${TRAVIS_OS_NAME} == "linux" ]] ; then sh -e /etc/init.d/xvfb start ; fi
  - ./travis_ci_bootstrap_edm.sh
install:
  - edm run -- invoke install --runtime=${RUNTIME} --toolkit=${TOOLKIT}
script:
  - edm run -- invoke test --runtime=${RUNTIME} --toolkit=${TOOLKIT}
after_success:
  - edm run -- pip install codecov
  - edm run -- codecov
