include CHANGES.txt
include LICENSE.txt
include MANIFEST.in
include README.rst
include README_example.png
include image_LICENSE.txt
include image_LICENSE_Eclipse.txt
include image_LICENSE_Nuvola.txt
include TODO.txt
graft docs
prune docs/build
graft examples
recursive-include traitsui *.py *.zip *.png *.txt *.ico
recursive-include integrationtests *.py *.gif
